<ion-header [class.expanded]="isExpanded">

	<div class="toggle-button-container" (click)="toggleHeader()">

		<div class="toggle-button">

			<div class="toggle"></div>

		</div>

	</div>

	@if(isExpanded){

		<ion-toolbar>

			<ion-buttons slot="start">
				<ion-button (click)="toggleMenu()" fill="clear" class="menu-button">
					<ion-icon slot="icon-only" name="menu"></ion-icon>
				</ion-button>
			</ion-buttons>

			@if (showBackButton){

				<ion-buttons slot="start">

					<ion-button (click)="goBack()" fill="empty" class="back-button">

						<ion-icon name="arrow-back" slot="icon-only"></ion-icon>

					</ion-button>

				</ion-buttons>

			}

			<ion-title>{{title}}</ion-title>
			
			<ion-buttons slot="end">

				<div class="user-info">

					<span class="user-name"></span>

					@if(user){

						<ion-button fill="clear" (click)="logout()">

							<ion-icon class="log-out" slot="icon-only" name="log-in-outline"></ion-icon>

						</ion-button>

						<ion-avatar class="user-avatar">

							<img [src]="user.picture">

						</ion-avatar>

					}@else{

						<ion-button fill="clear" (click)="login()">

							<ion-icon class="log-in" slot="icon-only" name="log-out-outline"></ion-icon>

						</ion-button>

					}

				</div>

			</ion-buttons>

		</ion-toolbar>

	}

</ion-header>

@if (isMenuOpen){

	<app-side-bar-menu (onClose)="closeMenu()"></app-side-bar-menu>

}