<app-loading></app-loading>

<ion-content class="ion-padding">

	<ion-card class="auth-card">

		<ion-card-header>

			<ion-card-title class="ion-text-center">Create Account</ion-card-title>

		</ion-card-header>

		<ion-card-content>

			<app-user-form (formSubmit)="onSubmit($event)"></app-user-form>

			<ion-text class="ion-text-center ion-margin-top">

				<p>
					Do you an account? 
					<a routerLink="/login" class="ion-text-primary">Log In</a>
				</p>

			</ion-text>

		</ion-card-content>

	</ion-card>

</ion-content>